html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit
}

.mySlides {
    display: none
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0 0;
    font-size: 15px;
    line-height: 1.5;
}

nav {
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

nav ul {
    margin: 0 0;
    padding: 0 0;
    display: flex;
}

nav ul li {
    list-style: none;
    display: block;
}

.nav-item {
    text-decoration: none;
    color: white;
    width: auto;
    display: block;
    font-family: "Lato", sans-serif;
    padding: 12px 24px;
    text-align: center;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
}

.nav-item-dropdown {
    position: relative;
}

.nav-item-dropdown span {
    display: inline;
}

.nav-item-dropdown:hover > .nav-dropdown-list {
    display: block;
}

.nav-dropdown-list {
    left: 0;
    top: 46.5px;
    cursor: auto;
    color: black;
    background-color: white;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-dropdown-content {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;

    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

.nav-dropdown-content:hover {
    background-color: #ccc !important;
}

.nav-search {
    padding: 12px 24px !important;
    color: inherit;
    text-decoration: none;
}

.nav-search:hover {
    background-color: #f44336 !important;
}

.content {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46.5px;
}

.img-container {
    display: block;
    text-align: center !important;
    position: relative;
}

.text-container {
    color: white !important;
    padding: 32px 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
}

.band {
    max-width: 800px;
    padding: 64px 16px;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.wide {
    letter-spacing: 4px;
}

.opacity {
    opacity: 0.6;
}

.justify {
    text-align: justify !important;
}

.img-group {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.third {
    float: left;
    width: 100%;
}

@media (min-width: 601px) {
    .third {
        width: 33.33333%;
    }
}